<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appharbr.example.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.appharbr.example.app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoEdgeExampleApp">

        <activity
            android:name="com.appharbr.example.app.MediationsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="YOUR_SDK_KEY_HERE" />

        <activity
            android:name="com.appharbr.example.app.admob.AdMobMediationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.admob.AdMobBannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.admob.AdMobInterstitialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.admob.AdMobRewardedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.admob.AdMobNativeAdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.gam.GamMediationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.gam.GamBannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.gam.GamInterstitialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.gam.GamRewardedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.gam.GamNativeAdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appharbr.example.app.gam.GamCombinationNativeAdWithBannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".max.MaxMediationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".max.MaxBannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".max.MaxRecyclerViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".max.MaxRewardedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".max.MaxNativeAdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".max.MaxInterstitialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>